---
import LinkIcon from "./LinkIcon.astro";

const projects = [
    {
        title: "CryoCon Landing Page",
        description:
            "Landing page for known wellness industry convention",
        link: "https://cryocon-website.vercel.app",
        img: "/cryocon.webp",
    },
    {
        title: "David Guttman Personal Brand Website",
        description:
            "Personal Website for David Guttman",
        link: "https://www.guttmanmedia.com",
        img: "/dave.webp",
    },
    {
        title: "OneOfOne Posters",
        description:
            "Customized Posters Shop",
        link: "https://www.oneofoneposters.com",
        img: "/oneOfOne.webp",
    },
    {
        title: "Rosie's Assisted Living",
        description:
            "Older people living and assisted facility",
        link: "https://www.rosiesassistedliving.com",
        img: "/rosies.webp",
    },
    {
        title: "On Demand Trading Website",
        description:
            "SECURE, SIMPLE, AND TRUSTED OTC TRADING DESK",
        link: "https://ondemandtrading.com",
        img: "/onDemand.webp",
    },
];

const behanceProjects = [
    {
        title: "enerBit para todos",
        description: "App redesign with challenge",
        img: "/enerBit.webp",
        link: "https://www.behance.net/gallery/185589965/enerBit-Para-todos-UIUX-Project",
    },
    {
        title: "Dunkin´ OOH",
        description: "Dunkin´ videogame strategy",
        img: "/dunkinOOH.webp",
        link: "https://www.behance.net/gallery/165097973/Dunkin-OOH",
    },
    {
        title: "Phorama App",
        description: "Videogames delivery app",
        img: "/phorama.webp",
        link: "https://www.behance.net/gallery/158344441/Phorama-UX-Research",
    },
    {
        title: "Hit Organc",
        description: "New drinks line concept",
        img: "/hit.webp",
        link: "https://www.behance.net/gallery/128875485/Hit-Organic-Packaging",
    },
    {
        title: "Vinna",
        description: "To do list app design",
        img: "/vinna.webp",
        link: "https://www.behance.net/gallery/155652615/Vinna-Antiprocrastination-app",
    },
    {
        title: "Cupis App",
        description: "App for Drivers",
        img: "/cupis.webp",
        link: "https://www.behance.net/gallery/185644425/Cupis-UXUIDev",
    },
];
---

<article>
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 pb-14">
        {
            projects.map(({ title, description, link, img }) => {
                return (
                    <li class="group rounded-xl bg-card p-4 transition-all ease-in-out duration-150 hover:shadow-xl hover:shadow-blue/20">
                        <a href={link} target="_blank">
                            <picture>
                                <img src={img} alt={`${img} image`} />
                            </picture>
                            <article class="flex flex-col gap-2">
                                <div class="flex gap-4 items-center">
                                    <h4 class="font-bold text-md md:text-xl group-hover:underline">
                                        {title}
                                    </h4>
                                    <span class="hidden group-hover:block">
                                        <LinkIcon />
                                    </span>
                                </div>
                                <p>{description}</p>
                            </article>
                        </a>
                    </li>
                );
            })
        }
    </ul>
    <p class="font-medium md:text-xl py-8 border-t border-light/50">
        My Featured Projects On Behance
    </p>
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {
            behanceProjects.map(({ title, description, link, img }) => (
                <li>
                    <a
                        href={link}
                        target="_blank"
                        class="flex overflow-hidden items-center bg-card rounded-xl transition-colors ease-in-out duration-150 hover:bg-light/20"
                    >
                        <picture class="w-28">
                            <img src={img} alt={`project ${title} image`} />
                        </picture>
                        <span class="px-4">
                            <h4 class="font-bold">{title}</h4>
                            <p class="text-sm">{description}</p>
                        </span>
                    </a>
                </li>
            ))
        }
    </ul>
</article>
